# Java
*.class
hs_err_pid*
replay_pid*

# Maven
target/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Logi
*.log

# Materiały robocze rekrutacji (nie są częścią rozwiązania)
.docs/
/Zadanie_rekrutacyjne.pdf
